$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin inner($w: (900/1189)*100%, $mw: 1180px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}

.wrapper {
    @include inner(
);
width: 90%;

@include mq(md) {
    width: 75%;
}
}

main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(md) {
        justify-content: flex-start;
    }
}

.article {
    width: 45%;
    margin-bottom: 50px;
    flex-grow: 1;
    position: relative;

    @include mq(md) {
        width: 25%;
        margin-right: 50px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    img {
        width: 100%;
    }

    h2 {
        margin: 1em 0;
        font-size: 18px;
    }

    .price,
    .state {
        margin: 0;
    }

    .text {
        display: none;

        @include mq(md) {
            display: block;
        }
    }

    .state {
        display: inline;
        padding: 5px 10px;
        background-color: red;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
    }
}

a {
    color: #000;
    text-decoration: none;
}

footer {
    margin-top: 100px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include inner();
    width: 90%;
    margin-bottom: 100px;

    @include mq(md) {
        width: 75%;
    }
}

h1 {
    font-size: (18/16)+rem;

    @include mq(md) {
        font-size: (28/16)+rem;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;

    @include mq(md) {
        font-size: (18/16)+rem;
    }
}

li {
    margin-right: 20px;

    @include mq(md) {
        margin-right: 30px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.inner {
    @include inner();
    width: 90%;

    @include mq(md) {
        width: 75%;
    }
}

.single {
    @include inner();

    .images {
        @include mq(md) {
            width: 50%;
        }
    }

    .thumb {
        width: 100%;
    }

    .mini {
        width: 23%;

        @include mq(md) {
            width: 24%;
        }
    }

    .flex {
        @include mq(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    .contents {
        @include mq(md) {
            width: 40%;
        }
    }
}