---

---

<header class="header">
  <h1>My shop</h1>
  <nav>
    <ul class="nav">
      <li><a href="/09_ecsite/index.html">home</a></li>
      <!-- <li><a href="#">about</a></li> -->
    </ul>
  </nav>
</header>
